/* Внес все исправления, осталось два вопроса, если не трудно, проясните, пожалуйста. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  /* 
  ОБНОВЛЕНО
  доброго времени дня) все же подскажите, пожалуйста,
  каким еще образом могу выровнять центральный блок посередине?
  пытался сделать вот так -
  
  Когда пытался задать height для content в 60vh
  и margin 20vh auto - у меня появлялся вертикальный скролл,
  если делать через flex, то все ок */

  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  margin: 0 auto;
  min-block-size: 534px;
  max-inline-size: 95%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  position: relative;
  margin-block-start: 78px;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset-title ~ .search-form__checkbox-list {
  margin-block-start: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2px;
  cursor: pointer;
  inline-size: fit-content;
}

/* Чтобы у textfield не было подчеркивания */
.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
}

/* .search-form__textfield.hover {
  caret-color: #fff;
} */

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  appearance: none;
}

.search-form__checkbox-list > .search-form__label:last-child {
  padding-right: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  background-position: center;

  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;

  cursor: pointer;
  block-size: 34px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid #545050;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

.search-form__submit-button {
  inline-size: 194px;
}

.more-button {
  margin-block-start: 32px;
  inline-size: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: auto;
  block-size: 298px;
  /* Вертикальный скролбар - нужен ли? */
  scrollbar-width: none;
}

.content__list:focus {
  outline: none;
}

.content__list-item:not(:nth-last-child(2)) {
  margin-block-end: 32px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  margin-inline-start: 2px;
  margin-block-start: 2px;
  overflow: hidden;
  /* width: 55%; */
  text-align: left;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 91%;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;

  /* ОБНОВЛЕНО */

  /* Мой вопрос
  Почему если закомментировать ширину вся колонка 
  .content__details (которая по идее 1fr) расползется шире, чем 1fr? 

  То есть, изначально (до задания фикс значений колонкам) 
  задал блоку content grid-template-columns: 2fr 1fr;

  И вот эта картинка content__video-card-thumbnail не должна же
  расширять эту вторую колонку, но все равно ее растягивает.
  
  width: 45%; 
  
  а у блока с описанием .content__video-card-description-container 
  width: 55%;
  */

  /* Ответ ревьюера
  Значит остальные размеры относительные элементов внутри, 
  и так построена сетка, что внутренние элементы будут занимать 
  большой процент от родительских контейнеров. */

  /* Если честно, я не особо понял...
  Я хочу разобраться, почему если я задаю ширину блокам в процентах, 
  контент все равно их растягивает.
   */
}
